# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Numpy
3. scikit

| Data Science Tools |
|--------------------|
| Jypter Notebook    |
| RStudio            |
| VS code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries by Data Scientists  
- Create and format Markdown cells in a Jupyter Notebook  
- Perform basic arithmetic expressions in Python  
- Convert values using Python expressions

## Author

Maaz Hussain